<form action="{:url('backstage/special/add')}" method="post" ajax="true" success="msg.tips">
    <input type="hidden" name="id" value="{$model.id|default=0}" />
    <input type="hidden" name="tid" value="{$model.tid|default=1}" />
    <div class="from-group">
        <label class="from-label fl"><b>*</b><span>描述文字：</span></label>
        <div><input type="text" name="name" class="from-text" value="{$model.name|default=''}"></div>
    </div>

    <div class="from-group">
        <label class="from-label fl"><b>*</b><span>LOGO：<br>【高：30px左右即可，宽不超90px，透明PNG】</span></label>
        <div>
            <input type="file" multiple="multiple" class="upload-file" url="{:url('backstage/Ajax/upload')}" success="msg.upload" send-begin="msg.waiting" complete="msg.complete" />
            <a class="file-bg"><i class="iconfont icon-upload"></i>选择图片</a>
            <div class="imglist"></div>
            <input type="hidden" name="img" data-rander-model="unload" value="{$model.img|default=''}">
        </div>
    </div>

    <div class="from-group">
        <label class="from-label fl"><b>*</b><span>链接地址：</span></label>
        <div><input type="text" name="url" class="from-text" value="{$model.url|default=''}"></div>
    </div>
    <div class="from-group">
        <label class="from-label fl"><b>*</b><span>展示顺序：</span></label>
        <div><input type="text" name="displayorder" class="from-text" value="{$model.displayorder|default='1000'}"></div>
    </div>
    <div class="from-group">
        <label class="from-label fl"><span></span></label>
        <div><input class="sub-btn" type="submit" value="　保　存　"></div>
    </div>
</form>