<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title></title>
    {include file="/shared/head"}
    <style>
        .from-group .imglist div img {background: #aaaaaa;}
    </style>
</head>
<body style="background: #f3f3f4;padding-left:5px;">
<div class="frame-title">
    <h5>专题入口</h5>
</div>
<div class="action-bar">
    <a href="{:url('backstage/special/add')}" ajax="true" model-area="700px,420px" success="msg.model"><i class="iconfont icon-add"></i>添加</a>
    <a href="{:url('backstage/special/items',['t'=>1])}"><i class="iconfont icon-refresh icon-spin"></i>刷新</a>
    <div class="dropdown">
        <a href="javascript:;" data-dropdown="click" >更多操作<span class="iconfont icon-triangle-down"></span></a>
        <ul class="down-left">
            <li batch='true' success="msg.tips" data-url="{:url('backstage/special/attrSetting',['act'=>'status','prop'=>0])}" >上线</li>
            <li batch='true' success="msg.tips" data-url="{:url('backstage/special/attrSetting',['act'=>'status','prop'=>1])}" >下线</li>
            <li batch='true' success="msg.tips" data-url="{:url('backstage/special/deleteInBatch')}" data-confirm="确定要删除这些记录吗？">删除所选记录</li>
        </ul>
    </div>
</div>
<form action="{:url('backstage/special/sort')}" ajax="true" success="msg.tips" method="post">
    <table class="ord_table" theme="no-rl-border">
        <thead>
        <tr>
            <th width="20px"><input type="checkbox" class="cheack-all"></th>
            <th>描述文字</th>
            <th>链接地址</th>
            <th width="60px"><input type="submit" value="排序" class="sort-btn" /></th>
            <th>状态</th>
            <th width="110px">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach name="items" item="item"}
        <tr>
            <td><input type="checkbox" value="{$item.id}"></td>
            <td>
                {$item.name}
                {$item.img ?= '<img class="preview" data-url="' . $item.img . '" src="__BACKEND__/images/ico-pic.png" />'}
            </td>
            <td>{$item.url}</td>
            <td><input type="text" name="_{$item.id}"value="{$item.displayorder}" class="list-sort bg" /></td>
            <td>{if $item.status==0}<b style="color: #20a53a">在线</b>{else/}<b style="color: #9E9E9E">下线</b>{/if}</td>
            <td>
                <a class="act_btn" href="{:url('backstage/special/add',['id'=>$item.id])}" ajax="true" model-area="700px,420px" success="msg.model">编辑</a>
                <a class="act_btn" href="{:url('backstage/special/delete',['id'=>$item.id])}" ajax="true" success="msg.tips" data-method="post" data-confirm="确定要删除该记录吗？">删除</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
        <tfoot>
        <tr>
            <td><input type="checkbox" class="cheack-all"></td>
            <td colspan="6">
                <div class="fr page-box">{$items->render()}</div>
            </td>
        </tr>
        </tfoot>
    </table>
</form>
</body>
</html>