<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title></title>
    {include file="/shared/head"}
</head>
<body style="background: #f3f3f4;padding-left:5px;">
<div class="view-full">
    <div class="viewframework-navbar">
        <a href="{:url('backstage/Ads/items')}"><div class="navbar-title">峰会列表</div></a>
        <div class="navbar-list">
            <ul>
                {foreach $list as $item}
                <li {$key==$item.id?'class="active"':''}><a href="{:url('backstage/Ads/items',['sid'=> $item.id])}"><i></i><div>{$item.name}</div></a></li>
                {/foreach}
            </ul>
        </div>
    </div>
    <div class="collapse-inner">
        <div class="collapse-bg"></div>
        <div class="collapse-btn"><i class="iconfont icon-collapse-left"></i><i class="iconfont icon-collapse-right"></i></div>
    </div>
</div>
<div class="viewframework" style="overflow-x:hidden;overflow-y:auto;height:100%;background: #f3f3f4;padding-left:5px;">

    <div class="frame-title">
        <h5>往期回顾</h5>
    </div>
    <div class="action-bar">
        <a href="{:url('backstage/Ads/add')}" ajax="true" model-area="800px,400px" success="msg.model"><i class="iconfont icon-add"></i>添加</a>
        <a href="javascript:location.reload()"><i class="iconfont icon-refresh icon-spin"></i>刷新</a>
        <div class="dropdown">
            <a href="javascript:;" data-dropdown="click" >更多操作<span class="iconfont icon-triangle-down"></span></a>
            <ul class="down-left">
                <li batch='true' success="msg.tips" data-url="{:url('/backstage/Ads/deleteInBatch')}" data-confirm="确定要删除这些记录吗？">删除所选记录</li>
            </ul>
        </div>
    </div>
    <form action="{:url('backstage/ads/sort')}" ajax="true" success="msg.tips" method="post">
    <table class="ord_table" theme="no-rl-border">
        <thead>
        <tr>
            <th width="20px"><input type="checkbox" class="cheack-all"></th>
            <th>标题</th>
            <th width="60px"><input type="submit" value="排序" class="sort-btn" /></th>
            <th>届别</th>
            <th>链接地址</th>
            <th width="110px">操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach name="page" item="item"}
        <tr>
            <td><input type="checkbox" value="{$item.id}"></td>
            <td>{$item.name} {$item.img ?= '<img class="preview" data-url="' . $item.img . '" src="__BACKEND__/images/ico-pic.png" />'} </td>
            <td><input type="text" name="_{$item.id}"value="{$item.displayorder}" class="list-sort bg" /></td>
            <td>{$item.Category.name}</td>
            <td>{$item.url}</td>
            <td>
                <a class="act_btn" href="{:url('backstage/Ads/add',['id'=>$item.id])}" ajax="true" model-area="800px,400px" success="msg.model">编辑</a>
                <a class="act_btn" href="{:url('backstage/Ads/delete',['id'=>$item.id])}" ajax="true" success="msg.tips" data-method="post" data-confirm="确定要删除该记录吗？">删除</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
        <tfoot>
        <tr>
            <td><input type="checkbox" class="cheack-all"></td>
            <td colspan="6">

                <div class="fl" style="display:none">
                    <button class="btn fl mr-10">批量删除</button>
                    <div class="dropdown fl mr-10" act="click">
                        <a href="javascript:;" data-dropdown='click'>更多操作</a>
                        <ul class="down-left">
                            <li>置顶所选记录</li>
                            <li>推荐至首页</li>
                            <li>删除所选记录</li>
                        </ul>
                    </div>

                </div>
                <div class="fr page-box">{$page->render()}</div>
            </td>
        </tr>
        </tfoot>
    </table>
    </form>
</div>
</body>
</html>