<form action="{:url('backstage/Cooperative/add')}" method="post" ajax="true" success="msg.tips">
    <input type="hidden" name="id" value="{$model.id|default=0}" />
    <div class="from-group">
        <label class="from-label fl"><b>*</b><span>标题：</span></label>
        <div><input type="text" name="name" class="from-text" value="{$model.name|default=''}"></div>
    </div>
    <div class="from-group">
        <label class="from-label fl"><b>*</b><span>届别：</span></label>
        <div>
            <select class="from-select" data-rander-model="selectize" name="sid" data-url="{:url('backstage/Category/getAllList')}" data-value="{$model.sid|default=0}"></select>
        </div>
    </div>
    <div class="from-group">
        <label class="from-label fl"><b>*</b><span>LOGO：</span></label>
        <div>
            <input type="file" multiple="multiple" class="upload-file" url="{:url('backstage/Ajax/upload')}" success="msg.upload" send-begin="msg.waiting" complete="msg.complete" />
            <a class="file-bg"><i class="iconfont icon-upload"></i>选择图片</a>
            <div class="imglist"></div>
            <input type="hidden" name="imglist" data-rander-model="unload" dragsort="true" value="{$model.imglist|default=''}" >
        </div>
    </div>
    <div class="from-group">
        <label class="from-label fl"><b>*</b><span>排序：</span></label>
        <div><input type="text" name="sort" class="from-text" value="{$model.sort|default=1}"></div>
    </div>
    <div class="from-group">
        <label class="from-label fl"><span></span></label>
        <div><input class="sub-btn" type="submit" value="　保　存　"></div>
    </div>
</form>