<link href="__BACKEND__/css/main.css" rel="stylesheet" type="text/css" />
<link href="__BACKEND__/fonts/icon/iconfont.css" rel="stylesheet" />
<script src="__BACKEND__/js/jquery.min.js" type="text/javascript"></script>
<script src="__BACKEND__/js/selectize.min.js"></script>
<script src="__BACKEND__/js/layer/layer.js"></script>
<script src="__BACKEND__/js/jquery.validate.min.js"></script>
<script src="__BACKEND__/js/listen.js"></script>
<script src="__BACKEND__/js/utils.js" type="text/javascript"></script>