<form action="{:url('/backstage/topic/index')}" method="post" ajax="true" success="msg.tips">
    <input type="hidden" name="id" value="{$model.id|default=0}" />
    <input type="hidden" name="tid" value="{$model.tid|default=''}" />
    <div class="from-group">
        <label class="from-label fl"><b>*</b><span>描述：</span></label>
        <div>
            <input type="text" name="name" class="from-text" value="{$model.name|default=''}">
        </div>
    </div>
    <div class="from-group">
        <label class="from-label fl"><b>*</b><span>LOGO：</span></label>
        <div>
            <input type="file" multiple="multiple" class="upload-file" url="{:url('backstage/Ajax/upload')}" post-data='{"handler":"gray"}' success="msg.upload" send-begin="msg.waiting" complete="msg.complete" />
            <a class="file-bg"><i class="iconfont icon-upload"></i>选择图片</a>
            <div class="imglist"></div>
            <input type="hidden" name="html_content" data-rander-model="unload" value="{$model.html_content|default=''}" >
        </div>
    </div>
    <div class="from-group">
        <label class="from-label fl"><span></span></label>
        <div>
            <input class="sub-btn" type="submit" value="　保　存　">
        </div>
    </div>
</form>