<link rel="stylesheet" href="__BACKEND__/js/minicolor/jquery.minicolors.css">
<script src="__BACKEND__/js/minicolor/jquery.minicolors.min.js"></script>
<script src="__BACKEND__/js/ztree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__BACKEND__/editor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__BACKEND__/editor/ueditor.all.min.js"> </script>
<link href="__BACKEND__/js/ztree/metro.css" rel="stylesheet" />
<script type="text/javascript">
    var setting = {
        callback: { onClick: zTreeOnClick },
        data: {
            simpleData: { enable: true, idKey: "id", pIdKey: "pid" }
        }
    };
    function zTreeOnClick(event, treeId, treeNode) {
        $("[name='pid']").val(treeNode.id);
        $(".tree-text").val(treeNode.name);
        $(".ztree_box").hide();
    };
    $(document).ready(function () {
        $.getJSON("{:url('backstage/category/getAll',['id'=>$tree_pid])}", function (data) {
            if(data.root){
                data.list.push({ "id": data.root.id, "name": data.root.name, open: true});
            }
            $.fn.zTree.init($("#treeDemo"), setting, data.list);
            var _id = $("[name='pid']").val(), _tree = $.fn.zTree.getZTreeObj("treeDemo"), node = _tree.getNodeByParam('id', _id);
            _tree.selectNode(node);
            _tree.setting.callback.onClick(null, _tree.setting.treeId, node);
        });
    });
</script>
<form action="{:url('backstage/category/add')}" method="post" ajax="true" success="msg.tips">
    <div class="tab-box">
        <ul class="nav-tabs" theme="click">
            <li class="active"><a>基本信息</a></li>
            <li><a>奖项申报</a></li>
            <li><a>峰会简介</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-item item-show">
                <input type="hidden" name="id" value="{$model.id|default=0}">
                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>上级：</span></label>
                    <div>
                        <input type="hidden" name="pid" value="{$model.pid|default=$tree_pid}">
                        <input type="text" class="from-text tree-text"/>
                    </div>
                </div>
                <div class="ztree_box"><ul id="treeDemo" class="ztree"></ul></div>
                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>名称：</span></label>
                    <div>
                        <input type="text" name="name" value="{$model.name|default=''}" class="from-text" style="color:{$model.color|default='#000'}">
<!--                        <input type="text" value="{$model.color|default='#000'}" name="color" class="color-select" >-->
                    </div>
                </div>

                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>风格颜色：</span></label>
                    <div>
                        <input type="text" value="{$model.color|default='#000'}" name="color" class="from-text">
                    </div>
                </div>

                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>按钮字体颜色：</span></label>
                    <div>
                        <input type="text" value="{$model.button_color|default='#000'}" name="button_color" class="from-text">
                    </div>
                </div>

                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>字体颜色：</span></label>
                    <div>
                        <input type="text" value="{$model.font_color|default='#000'}" name="font_color" class="from-text">
                    </div>
                </div>

                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>Title：</span></label>
                    <div><input type="text" name="meta_title" value="{$model.meta_title|default=''}" class="from-text"></div>
                </div>
                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>Keywords：</span></label>
                    <div><input type="text" name="meta_keywords" value="{$model.meta_keywords|default=''}" class="from-text"></div>
                </div>
                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>Description：</span></label>
                    <div><input type="text" name="meta_description" value="{$model.meta_description|default=''}" class="from-text"></div>
                </div>

                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>嘉宾背景图【131*131】：</span></label>
                    <div>
                        <input type="file" multiple="multiple" class="upload-file" url="{:url('backstage/Ajax/upload')}" success="msg.upload" send-begin="msg.waiting" complete="msg.complete" />
                        <a class="file-bg"><i class="iconfont icon-upload"></i>选择图片</a>
                        <div class="imglist"></div>
                        <input type="hidden" name="guest_img" data-rander-model="unload" value="{$model.guest_img|default=''}">
                    </div>
                </div>

                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>LOGO：</span></label>
                    <div>
                        <input type="file" multiple="multiple" class="upload-file" url="{:url('backstage/Ajax/upload')}" success="msg.upload" send-begin="msg.waiting" complete="msg.complete" />
                        <a class="file-bg"><i class="iconfont icon-upload"></i>选择图片</a>
                        <div class="imglist"></div>
                        <input type="hidden" name="logo" data-rander-model="unload" value="{$model.logo|default=''}">
                    </div>
                </div>
                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>封面图【1920*876】：</span></label>
                    <div>
                        <input type="file" multiple="multiple" class="upload-file" url="{:url('backstage/Ajax/upload')}" success="msg.upload" send-begin="msg.waiting" complete="msg.complete" />
                        <a class="file-bg"><i class="iconfont icon-upload"></i>选择图片</a>
                        <div class="imglist"></div>
                        <input type="hidden" name="img" data-rander-model="unload" value="{$model.img|default=''}">
                    </div>
                </div>

                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>页面大背景图【1920*1200】：</span></label>
                    <div>
                        <input type="file" multiple="multiple" class="upload-file" url="{:url('backstage/Ajax/upload')}" success="msg.upload" send-begin="msg.waiting" complete="msg.complete" />
                        <a class="file-bg"><i class="iconfont icon-upload"></i>选择图片</a>
                        <div class="imglist"></div>
                        <input type="hidden" name="bg_img" data-rander-model="unload" value="{$model.bg_img|default=''}">
                    </div>
                </div>

                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>背景图左上：</span></label>
                    <div>
                        <input type="file" multiple="multiple" class="upload-file" url="{:url('backstage/Ajax/upload')}" success="msg.upload" send-begin="msg.waiting" complete="msg.complete" />
                        <a class="file-bg"><i class="iconfont icon-upload"></i>选择图片</a>
                        <div class="imglist"></div>
                        <input type="hidden" name="bg_top_left" data-rander-model="unload" value="{$model.bg_top_left|default=''}">
                    </div>
                </div>

                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>背景图左下：</span></label>
                    <div>
                        <input type="file" multiple="multiple" class="upload-file" url="{:url('backstage/Ajax/upload')}" success="msg.upload" send-begin="msg.waiting" complete="msg.complete" />
                        <a class="file-bg"><i class="iconfont icon-upload"></i>选择图片</a>
                        <div class="imglist"></div>
                        <input type="hidden" name="bg_bottom_left" data-rander-model="unload" value="{$model.bg_bottom_left|default=''}">
                    </div>
                </div>

                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>背景图右上：</span></label>
                    <div>
                        <input type="file" multiple="multiple" class="upload-file" url="{:url('backstage/Ajax/upload')}" success="msg.upload" send-begin="msg.waiting" complete="msg.complete" />
                        <a class="file-bg"><i class="iconfont icon-upload"></i>选择图片</a>
                        <div class="imglist"></div>
                        <input type="hidden" name="bg_top_right" data-rander-model="unload" value="{$model.bg_top_right|default=''}">
                    </div>
                </div>

                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>背景图右下：</span></label>
                    <div>
                        <input type="file" multiple="multiple" class="upload-file" url="{:url('backstage/Ajax/upload')}" success="msg.upload" send-begin="msg.waiting" complete="msg.complete" />
                        <a class="file-bg"><i class="iconfont icon-upload"></i>选择图片</a>
                        <div class="imglist"></div>
                        <input type="hidden" name="bg_bottom_right" data-rander-model="unload" value="{$model.bg_bottom_right|default=''}">
                    </div>
                </div>

                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>会场图【1200*auto】：</span></label>
                    <div>
                        <input type="file" multiple="multiple" class="upload-file" url="{:url('backstage/Ajax/upload')}" success="msg.upload" send-begin="msg.waiting" complete="msg.complete" />
                        <a class="file-bg"><i class="iconfont icon-upload"></i>选择图片</a>
                        <div class="imglist"></div>
                        <input type="hidden" name="hc_img" data-rander-model="unload" value="{$model.hc_img|default=''}">
                    </div>
                </div>
                <div class="from-group">
                    <label class="from-label fl"><b></b><span>购票通道：</span></label>
                    <div><input type="text" name="ticket" value="{$model.ticket|default=''}" class="from-text"></div>
                </div>
                <div class="from-group">
                    <?php $check = isset($model) ? $model['sign_way'] : 0 ?>
                    <label class="from-label fl"><b>*</b><span>报名方式：</span></label>
                    <input  class="iptradio" type="radio" name="sign_way" value="1" {if $check == 0 || $check == 1 } echo checked {/if} /> 外部报名
                    <input  class="iptradio" type="radio" name="sign_way" value="2"  {if $check == 2} echo checked {/if}/> 内部报名
                </div>

                <div class="from-group neibu">
                    <label class="from-label fl"><b>*</b><span>内部报名填写表单：</span></label>
                    <div>
                        <select class="from-select" multiple="multiple" data-rander-model="selectize" lab="label" name="diy_form[]" data-url="{:url('backstage/category/getElemItems')}" data-value="{$model.diy_form|default=''}"></select>
                    </div>
                </div>

                <div class="from-group waibu">
                    <label class="from-label fl"><b></b><span>报名地址：</span></label>
                    <div><input type="text" name="enter"  value="{$model.enter|default=''}" class="from-text"></div>
                </div>

                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>开始时间：</span></label>
                    <div><input type="text" name="start_time" class="from-text" data-rander-model="date" value="{if empty($model)}{:date('Y-m-d',time())}{else/}{$model.start_time}{/if}"></div>
                </div>

                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>结束时间：</span></label>
                    <div><input type="text" name="end_time" class="from-text" data-rander-model="date" value="{if empty($model)}{:date('Y-m-d',time())}{else/}{$model.end_time}{/if}"></div>
                </div>

                <div class="from-group">
                    <?php $check = isset($model) ? $model['show_guess'] : 0 ?>
                    <label class="from-label fl"><b>*</b><span>是否展示共创人：</span></label>
                    <input  class="iptradio" type="radio" name="show_guess" value="1" {if $check == 0 || $check == 1 } echo checked {/if} /> 展示
                    <input  class="iptradio" type="radio" name="show_guess" value="2"  {if $check == 2} echo checked {/if}/> 不展示
                </div>

                <div class="from-group">
                    <?php $check = isset($model) ? $model['show_prize'] : 0 ?>
                    <label class="from-label fl"><b>*</b><span>是否展示灵眸奖：</span></label>
                    <input  class="iptradio" type="radio" name="show_prize" value="1" {if $check == 0 || $check == 1 } echo checked {/if} /> 展示
                    <input  class="iptradio" type="radio" name="show_prize" value="2"  {if $check == 2} echo checked {/if}/> 不展示
                </div>

            </div>
          <div class="tab-item">
            
               <div class="from-group">
                    <label class="from-label fl"><b></b><span>奖项名称：</span></label>
                    <div><input type="text" name="jxname" value="{$model.jxname|default=''}" class="from-text"></div>
                </div>
                <div class="from-group">
                    <label class="from-label fl"><b></b><span>邮箱：</span></label>
                    <div><input type="text" name="jxemail" value="{$model.jxemail|default=''}" class="from-text"></div>
                </div>
                <div class="from-group">
                    <label class="from-label fl"><b></b><span>信息要求：</span></label>
                    <div><input type="text" name="jxinfo" value="{$model.jxinfo|default=''}" class="from-text"></div>
                </div>
               <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>logo【red】：</span></label>
                    <div>
                        <input type="file" multiple="multiple" class="upload-file" url="{:url('backstage/Ajax/upload')}" success="msg.upload" send-begin="msg.waiting" complete="msg.complete" />
                        <a class="file-bg"><i class="iconfont icon-upload"></i>选择图片</a>
                        <div class="imglist"></div>
                        <input type="hidden" name="jxlogo" data-rander-model="unload" value="{$model.jxlogo|default=''}">
                    </div>
                </div>
          </div>
            <div class="tab-item">
                <div class="from-group">
                    <label class="from-label fl"><b>*</b><span>详情：</span></label>
                    <div>
                        <script id="remark" name="remark" style="height:500px;width:100%" type="text/plain">{$model.remark|default=''}</script>
                        <script> var remark = UE.getEditor('remark');</script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="from-group">
        <label class="from-label fl"><span></span></label>
        <div><input class="sub-btn" type="submit" value="　保　存　" /></div>
    </div>
</form>
<script>
    $(function () {
        $(".tree-text").click(function () {
            var _e = $(this), _epp = _e.parent().position();
            $(".ztree_box").css({ "top": _epp.top + _e.height() + 1, "left": _epp.left, "width": _e.width()});
            $(".ztree_box").toggle();
        });
        $(".color-select").minicolors({change: function(hex, opacity) {
                var log = hex ? hex : 'transparent';
                if (opacity) log += ', ' + opacity;
                $(this).attr("value",log);
                $(this).parent().siblings().css("color",log);
            }
        });

        var sign_way=$("input[name=sign_way]:checked").val();
        if (sign_way == "1") {
            $(".neibu").css("display","none");
            $(".waibu").css("display","block");
        }
        if (sign_way == "2") {
            $(".neibu").css("display","block");
            $(".waibu").css("display","none");
        }

        $("input[name=sign_way]").each(function(){
            $(this).click(function(){
                var sign_way = $(this).val();
                if(sign_way=="1"){
                    $(".neibu").css("display","none");
                    $(".waibu").css("display","block");
                }
                if(sign_way=="2"){
                    $(".neibu").css("display","block");
                    $(".waibu").css("display","none");
                }
            });
        });
    });

</script>