<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>{$model.meta_title|default='灵眸'}</title>
    <meta name="keywords" content="{$model.meta_keywords|default=''}">
    <meta name="description" content="{$model.meta_description|default=''}">
    <link rel="stylesheet" href="__CSS__/base.css" />
    <link rel="stylesheet" href="__CSS__/animate.min.css" />
    <link rel="stylesheet" href="__CSS__/font.css" />
    <link rel="stylesheet" href="__CSS__/add.css" />
    <link rel="stylesheet" href="__CSS__/content.css" />
    <link rel="stylesheet" href="__CSS__/media.css" />
    <link rel="stylesheet" href="__CSS__/slick.css">
    <style type="text/css">
        input.pTip {
            position: inherit;
            background: none;
            text-align: left;
            border: 1px solid #ed1333 !important;
            box-shadow: 0px 0px 1px #ed1333;
        }
    </style>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d15b09450c8404d3c9f2953cbf48bc71";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body>
<div class="fixed-bg" id="body">
    <img src="{$model.bg_top_left|default='__IMG__/f1.png'}" class="f1 f-img" />
    <img src="{$model.bg_bottom_left|default='__IMG__/f2.png'}" class="f2 f-img" />
    <img src="{$model.bg_bottom_right|default='__IMG__/f3.png'}" class="f3 f-img" />
    <img src="{$model.bg_top_right|default='__IMG__/f4.png'}" class="f4 f-img" />
</div>

<div class="header animated fadeInDown">
    <div class="menuBtn"></div>
    <div class="top clearfix">
        <div class="logo fl"><a href="javascript:;"><img alt="{$model.name}" src="{$model.logo|default=''}" /></a>
        </div>
        {if $model.show_guess==1}
        <div class="nav fr" style="padding-right: 100px;">
            {else /}
            <div class="nav fr" style="padding-right: 350px;">
                {/if}
                <ul class="clearfix">
                    <li><a href="#introduction">峰会简介</a></li>
                    {if $model.show_guess==1}
                    <li><a href="#builder">共创人</a></li>
                    {/if}
                    <li><a href="#guest">演讲嘉宾</a></li>
                    <li><a href="#agenda">峰会议程</a></li>
                    <li><a href="#partner">合作伙伴</a></li>
                    <li><a href="#review">往届回顾</a></li>
                    <li><a href="#contact">联系我们</a></li>
                    <!--<li><a href="{$model.ticket}" target="_blank">购票通道</a></li>-->
                    {if $model.show_prize==1}
                    <li><a href="{:url('index/index/prize', ['sid'=> $sid])}">MorketingAwards灵眸奖</a></li>
                    {/if}

                </ul>
            </div>
        </div>
    </div>

    <!--banner-end-->
    <div class="indexWrap">
        <div class="banner wow animated fadeIn">

            <img src="{$model.img|default='__IMG__/bgimg.png'}" class="video-bg-img" />
            <!--<div class="center-video-box">
         <div class="videos clearfix animated fadeInUp" >
             <div class="fl player_box"><iframe src="" id="iframes" style="width:100%;height: 100%;border: none" scrolling="no"></iframe></div>
             <div class="video-tabs fr">
                 {foreach name='videos' item='item'}
                 <header class="date_header date_header_first">{:date('m.d',$key)}</header>
                 <ul>
                     {foreach name='item' item='vo'}
                     <li data-src="{:url('index/index/video',['id'=>$vo.id])}">
                         <div class="video_add">{$vo.name}</div>
                         <p>{$vo.theme}</p>
                     </li>
                     {/foreach}
                 </ul>
                 {/foreach}
             </div>
         </div>-->
            <!--</div>-->
        </div>

        <!--<div class="redbg"><img src="__IMG__/eyeBg.png"/></div>-->
        <div class="wid"> <a id="introduction" class="target-fix"></a>
            <div class="intro">
                <div class="subtit">
                    <div class="red_num wow animated fadeInLeft">01</div>
                    <h2 class="tit wow animated fadeInRight"> 峰会简介 <span>Summit Introduction</span> </h2>
                </div>
                <div class="inText wow animated fadeIn">
                    {$model.remark}
                </div>
                <!--<a href="{$model.ticket}" target="_blank" class="buyBtn wow animated fadeInUp">立即购票</a> </div>-->
                <!--简介-end-->

                {if $model.show_guess==1}
                <a id="builder" class="target-fix"></a>
                <div class="guest">
                    <div class="subtit">
                        <div class="red_num wow animated fadeInLeft">02</div>
                        <h2 class="tit wow animated fadeInRight"> 共创人 <span>Co-builder</span> </h2>
                    </div>
                    <div class="gList">
                        <ul class="clearfix guestBox">
                            {foreach name='builder' item='item'}
                            {php}$s = ($key + 3)/10;{/php}
                            <li class="wow animated fadeInLeft" data-wow-delay="{$s}s">
                                {if $item.is_new_power==1}<div class="gtip">共创人</div>{/if}
                                <div class="circular">
                                    <div class="cbg"></div>
                                    <div class="img"><img src="{$item.avatar}" /></div>
                                </div>
                                <div class="summ">
                                    <p class="name">{$item.name}</p>
                                    <p class="job">{$item.intro}</p>
                                </div>
                                <a href="javascript:;" class="mis-container"></a>
                                <div class="text-content">
                                    {php}$timeLine = json_decode($item['info'],true);{/php}
                                    {foreach name='timeLine' item='vo'}
                                    <div class="textList">
                                        <div class="l_topic">{$vo.title}</div>
                                        <div class="l_topic">场次：{$vo.cc}</div>
                                        <div class="l_time">时间：{$vo.sj|default=''}</div>
                                    </div>
                                    {/foreach}
                                    <div class="textList">
                                        个人简介：{$item.text}
                                    </div>
                                </div>
                            </li>
                            {/foreach}
                        </ul>
                        <a href="javascript:;" class="buyBtn wow animated fadeInUp getMoreGuest" sid="1"
                           cid="{$sid}" page="1" total="{$builder->lastPage()}">更多共创人</a>
                    </div>
                    {/if}
                    <a id="guest" class="target-fix"></a>
                    <div class="guest">
                        <div class="subtit">
                            <div class="red_num wow animated fadeInLeft">{if $model.show_guess==1}03 {else/}02{/if}
                            </div>
                            <h2 class="tit wow animated fadeInRight"> 演讲嘉宾 <span>Guest Speaker</span> </h2>
                        </div>
                        <div class="gList">
                            <ul class="clearfix guestBox">
                                {foreach name='guest' item='item'}
                                {php}$s = ($key + 3)/10;{/php}
                                <li class="wow animated fadeInLeft" data-wow-delay="{$s}s">
                                    {if $item.is_new_power==1}<div class="gtip">新势力</div>{/if}
                                    <div class="circular">
                                        <div class="cbg"></div>
                                        <div class="img"><img src="{$item.avatar}" /></div>
                                    </div>
                                    <div class="summ">
                                        <p class="name">{$item.name}</p>
                                        <p class="job">{$item.intro}</p>
                                    </div>
                                    <a href="javascript:;" class="mis-container"></a>
                                    <div class="text-content">
                                        {php}$timeLine = json_decode($item['info'],true);{/php}
                                        {foreach name='timeLine' item='vo'}
                                        <div class="textList">
                                            <div class="l_topic">{$vo.title}</div>
                                            <div class="l_topic">场次：{$vo.cc}</div>
                                            <div class="l_time">时间：{$vo.sj|default=''}</div>
                                        </div>
                                        {/foreach}
                                        <div class="textList">
                                            个人简介：{$item.text}
                                        </div>
                                    </div>
                                </li>
                                {/foreach}
                            </ul>
                            <a href="javascript:;" class="buyBtn wow animated fadeInUp getMoreGuest" sid="0"
                               cid="{$sid}" page="1" total="{$guest->lastPage()}">更多嘉宾</a>
                        </div>

                        <a id="agenda" class="target-fix"></a> <a class="target-fix"></a>
                    </div>
                    <div class="agenda">
                        <div class="subtit">
                            <div class="red_num wow animated fadeInLeft">{if $model.show_guess==1}04 {else/}03{/if}
                            </div>
                            <h2 class="tit wow animated fadeInRight"> 峰会议程 <span>Summit Agenda</span> </h2>
                        </div>
                        <div class="wid wow animated fadeIn">
                            <div class="btns wow animated fadeInLeft" data-wow-delay="0.2s">
                                <ul class="clearfix slick">
                                    {foreach name='agenda' item='item'}
                                    <li {if $key==0}class="hover" {/if}> <span> {$item.name}</span></li>
                                    {/foreach}
                                </ul>
                            </div>
                            <div class="catQuery wow animated fadeInUp">
                                {foreach name='agenda' item='item'}
                                <div class="aList">
                                    <div class="cTopic">
                                        <div class="tCon">
                                            <div class="date">
                                                <div class="riqi">{:date('m-d',$item.startdate)}</div>
                                                <div class="time">{:date('A',$item.startdate)}</div>
                                            </div>
                                            <div class="txt">{$item.title}</div>
                                            <div class="tip">{$item.tit}</div>
                                        </div>
                                    </div>
                                    <table class="cc-table" cellspacing="0">
                                        {php} $agendaTimeLine = json_decode($item['info'],true); {/php}
                                        {foreach name='agendaTimeLine' item='vo'}
                                        <tr>
                                            {php}
                                            if(!empty($vo['sj'])){
                                            $sj =
                                            preg_replace('/([0-9]{1,2}:[0-9]{1,2}):[0-9]{1,2}/','$1',$vo['sj']);
                                            }
                                            {/php}

                                            <td class="cc_td">
                                                <div class="time_det">{$sj|default=''}</div>
                                            </td>
                                            <td>
                                                <div class="info">
                                                    <div class="tTable">{$vo.title}</div>
                                                    <div class="inTxt">
                                                        {if strpos($vo.name,';') !== false ||
                                                        strpos($vo.name,'；')!==false}
                                                        {:str_replace(['/',';','；'],['<span> /
                                                                ','</span><br>','</span><br>'],$vo.name)}
                                                        {else/}
                                                        {$vo.name}<span> / {$vo.intro}</span>
                                                        {/if}
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {/foreach}
                                    </table>

                                </div>
                                {/foreach}
                                <div class="g_banner">
                                    <ul class="clearfix slick">
                                        <li><img src="{$model.hc_img}" /></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a id="partner" class="target-fix"></a>
                    <div class="partner">
                        <div class="subtit">
                            <div class="red_num wow animated fadeInLeft">{if $model.show_guess==1}05 {else/}04{/if}
                            </div>
                            <h2 class="tit wow animated fadeInRight"> 合作伙伴 <span>Cooperative Partner</span> </h2>
                        </div>
                        <div class="p_warp">
                            {foreach name='cooper' item='item'}
                            <div class="pList">
                                <div class="par_tit wow animated fadeInUp" data-wow-delay="0.3s"><span
                                        class="con">{$item.name}</span><span class="line"></span></div>
                                <ol class="logos clearfix">
                                    {php}$logo = explode(',',$item['imglist']); {/php}
                                    {foreach name='logo' item='vo'}
                                    {php}$ss = ($key + 3)/10;{/php}
                                    <li class="wow animated fadeInLeft" data-wow-delay="{$ss}s"><a
                                            href="javascript:;"> <img src="{$vo}" /></a> </li>
                                    {/foreach}
                                </ol>
                            </div>
                            {/foreach}
                        </div>
                    </div>
                    <a id="review" class="target-fix"></a>
                    <div class="review">
                        <div class="subtit">
                            <div class="red_num wow animated fadeInLeft">{if $model.show_guess==1}06{else/}05{/if}
                            </div>
                            <h2 class="tit wow animated fadeInRight"> 往届回顾 <span>Past Review</span> </h2>
                        </div>
                        <div class="reviewList wow animated fadeInUp flexslider">
                            <ul class="clearfix slides">
                                {foreach name='ads' item='item'}
                                <li><a href="{$item.url}" target="_blank"> <img src="{$item.img}"
                                                                                alt="{$item.name}" />
                                    <div class="infobtm">{$item.name}</div>
                                </a></li>
                                {/foreach}
                            </ul>
                        </div>
                    </div>
                    <a id="contact" class="target-fix"></a>
                    <div class="contact">
                        <div class="subtit">
                            <div class="red_num wow animated fadeInLeft">{if $model.show_guess==1}07 {else/}06{/if}
                            </div>
                            <h2 class="tit wow animated fadeInRight"> 联系我们 <span>Contact Us</span> </h2>
                        </div>
                        <div class="contop clearfix">
                            <div class="fl">
                                <div class="title wow animated fadeInLeft"><span>关于我们</span></div>
                                <div class="ctext wow animated fadeInLeft" data-wow-delay="0.1s">
                                    <p><span>{:str_replace(PHP_EOL,'</span></p>
                                    <p><span>',$SysConfig['intro'])}</span></p>
                                </div>
                            </div>
                            <div class="wechat fr wow animated fadeInRight"><img
                                    src="{$SysConfig.gzh|default=''}" /></div>
                        </div>
                        <div class="contaList">
                            <ul class="clearfix">
                                {foreach name='contact' item='item'}
                                <li class="wow animated fadeInUp" data-wow-delay="0.3s">
                                    <h2><span>{$item.title}</span></h2>
                                    <h4>{$item.name}</h4>
                                    <p><span>电话：{$item.tel}</span></p>
                                    <p><span>邮箱：{$item.email}</span></p>
                                </li>
                                {/foreach}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="foot">
                <div class="bottom wow animated fadeInUp">
                    <p class="wow animated fadeInUp">{$SysConfig.copyright|default=''} <a
                            href="http://www.beian.miit.gov.cn" target="_blank">{$SysConfig.beian|default=''}</a>
                    </p>
                </div>
            </div>
            <div class="footfix">
                {if $model.sign_way == 1}
                <a href="{$model.enter|default=''}" target="_blank" class="signBtn"><i
                        class="icon icon_b"></i>我要报名</a>
                {else /}
                <a href="javascript:;" class="signBtn baoming" data-id="{$model.id}"><i
                        class="icon icon_b"></i>我要报名</a>
                {/if}
                <a href="javascript:;" class="spBtn"><i class="icon icon_z"></i>我要赞助
                    <div class="emailDiv"> <span>成为大会赞助商请联系 ：</span>{$SysConfig.zanzhu}</div></a>
                {if $model.show_prize==1}
                <a href="javascript:;" class="signBtn dec_btn"><i class="icon icon_dec"></i>奖项申报</a>
                {/if}
                <a href="javascript:;" class="stateBtn"><i class="icon_z"></i>订阅会议动态</a>
                <a href="javascript:;" class="w_about">
                    <div class="weixin"><img src="{$SysConfig.gzh|default=''}" /><span>关注微信 了解更多</span></div>
                </a>
            </div>
            <!--footerfix-ed-->
        </div>
        <div class="mask"></div>
        <!--team-dimmer-->
        <div class="teamDetaile"> <a href="javascript:void(0);" class="CloseBtn"></a>
            <div class="tContent clear-fix">
                <div class="left"> <img class="timg" src="">
                    <div class="info">
                        <h1 class="tName"></h1>
                    </div>
                </div>
                <div class="right">
                    <div class="teamTit">
                        <p class="tInfo"></p>
                        <span class="tInfo2"></span>
                    </div>
                    <div class="teamTxt">
                        <div class="tContentInner"> </div>
                    </div>
                </div>
            </div>
        </div>
        <!--订阅会议动态弹框-->
        <div class="stateBox" id="stateBox">
            <h2>订阅会议动态</h2>
            <div class="sWrap">
                <form method="post" action="{:url('index/index/feedback')}" ajax="true" data-valid="true"
                      novalidate="novalidate" success="msg.tips">
                    <ul class="sWrap-ul">
                        <li>
                            <div class="stip">姓名</div>
                            <div class="stxt"><input type="text" name="name" required required-msg="填写您的姓名"
                                                     placeholder="填写您的姓名" class="text" /></div>
                        </li>
                        <li>
                            <div class="stip">公司</div>
                            <div class="stxt"><input type="text" name="company" required required-msg="填写您的公司名称"
                                                     placeholder="填写您的公司名称" class="text" /></div>
                        </li>
                        <li>
                            <div class="stip">职位</div>
                            <div class="stxt"><input type="text" name="position" required required-msg="填写您的职位"
                                                     placeholder="填写您的职位" class="text" /></div>
                        </li>
                        <li>
                            <div class="stip">邮箱</div>
                            <div class="stxt"><input type="text" name="email" required required-msg="填写您的邮箱"
                                                     email="true" email-msg="请填写正确的邮箱地址" placeholder="填写您的邮箱" class="text" />
                            </div>
                        </li>
                        <li>
                            <div class="stip">最想看到的嘉宾</div>
                            <div class="stxt"><input type="text" required required-msg="填写您最想看到的嘉宾" name="guest"
                                                     class="text" /></div>
                        </li>
                        <li>
                            <div class="stip">最感兴趣的会场</div>
                            <div class="stxt"><input type="text" required required-msg="填写您最感兴趣的会场" name="agenda"
                                                     class="text" /></div>
                        </li>
                        <input type="hidden" name="sid" value="{$sid}" class="text" />
                        <li>
                            <div class="stip"></div>
                            <div class="stxt">
                                <div class="sbtns"><a href="javascript:;" class="cenBtn">取消</a><a
                                        href="javascript:;" class="subBtn">提交</a></div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <!--项目申报弹窗-->
        <div class="stateBox" id="dec_box">
            <h2>奖项申报 <span class="closed"><img src="__IMG__/closed.png" /></span></h2>
            <div class="dec_con">
                <p>欲申报<a href="#">{$model.jxname}</a></p>
                <p>请将{$model.jxinfo}发送至：</p>
                <p>{$model.jxemail}</p>
                <p>工作人员将主动联系您洽谈奖项申报事宜</p>
            </div>
            <img src="{$model.jxlogo}" />
        </div>
        <!-- 登录弹窗 -->
        <!--订阅会议动态弹框-->
        <div class="stateBox" id="loginBox">
            <h2>登录</h2>
            <div class="sWrap y-register">
                <div class="y-register-nav">
                    <ul>
                        <li class="active" num="1">短信登录</li>
                        <li num="2">密码登录</li>
                    </ul>
                </div>
                <div class="y-register-content">
                    <div class="y-register-bx y-register-bx1">
                        <form method="post" id="mobile_form" action="{:url('index/Account/mobileLogin')}" ajax="true" data-valid="true"
                              novalidate="novalidate" success="msg.tips">
                            <ul class="y-register-ul">
                                <li><i class="y-register-name">手机号：</i><select class="y-register-select"
                                                                               name="mobile_prefix">
                                    {foreach name="country_mobile_prefix" item="vo"}
                                    <option value="{$vo}" style="text-align: center">+{$vo}</option>
                                    {/foreach}
                                    </select>
                                    <input name="mobile"
                                                remote="{:url('index/Account/check_account',['f'=>'mobile'])}"
                                                remote-msg="该手机号尚未注册！请先注册" class="y-register-inp2" required
                                                required-msg="请输入手机号" type="text" placeholder="请输入手机号" id="mobile"></li>
                                <li class="sms">
                                    <i class="y-register-name">短信验证码：</i><input class="y-register-code"
                                                                                name="sms_code" id="mobile_sms_code" required required-msg="请输入短信验证码" type="text"
                                                                                placeholder="请输入短信验证码"><button class="y-register-send"
                                                                                                               onclick="setTime(this,'#ccc','{:url(\'index/Digg/login_sms\')}')"
                                                                                                               type="button">发送短信验证码</button>
                                </li>
                                <li><i class="y-register-name">验证码：</i><input class="y-register-code" name="code" id="mobile_code"
                                                                              required type="text" placeholder="请输入验证码">
                                    <div class="y-register-send2" style="float: right"><img
                                            src="{:url('index/img/img_cod')}" alt="captcha"
                                            onclick="this.src='{:url(\'index/img/img_cod\')}?'+'id='+Math.random()"/> </div> </li> </ul> <div
                                class="stip"></div>
                            <div class="stxt">
                                <div class="sbtns"><a href="javascript:;" class="cancelLogin">取消</a><button
                                        href="javascript:;" class="submitLogin mobileLogin">提交</button></div>
                            </div>
                        </form>
                    </div>
                    <div class="y-register-bx y-register-bx2" style="display:none">
                        <form method="post" action="{:url('index/Account/login')}" id="pwd_form" ajax="true" data-valid="true"
                              novalidate="novalidate" success="msg.tips">
                            <ul class="y-register-ul">
                                <li><i class="y-register-name">用户名：</i><input name="account" class="y-register-inp" id="pwd_account"
                                                                              required required-msg="请输入用户名/手机号/邮箱" type="text"
                                                                              placeholder="请输入用户名/手机号/邮箱">
                                </li>
                                <li>
                                    <i class="y-register-name">密码：</i><input class="y-register-inp" type="password" id="pwd_password"
                                                                             name="password" autocomplete="off" required required-msg="请输入密码"
                                                                             placeholder="请输入用户密码">
                                </li>
                                <li><i class="y-register-name">验证码：</i><input class="y-register-code" name="code" id="pwd_code"
                                                                              required type="text" placeholder="请输入验证码">
                                    <div class="y-register-send2" style="float: right"><img
                                            src="{:url('index/img/img_cod')}" alt="captcha"
                                            onclick="this.src='{:url(\'index/img/img_cod\')}?'+'id='+Math.random()"/> </div> </li> </ul> <div
                                class="stip"></div>
                            <div class="stxt">
                                <div class="sbtns"><a href="javascript:;" class="cancelLogin">取消</a><a
                                        href="javascript:;" class="submitLogin pwdLogin">提交</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script>
                var localLinks = ["introduction", "builder", "guest", "agenda", "partner", "review", "contact"];
            </script>
            <script src="__JS__/jquery.min.js"></script>
            <script src="__JS__/lib.js"></script>
            <script type="text/javascript" src="__JS__/tweenmax.min.js"></script>
            <script src="__JS__/wow.min.js"></script>
            <script type="text/javascript" src="__JS__/slider.js"></script>
            <script type="text/javascript" src="__JS__/slick.min.js"></script>
            <script src="__JS__/scrollbar.min.js"></script>
            <script src="__JS__/TweenMax.min.js"></script>
            <script src="__JS__/index.js"></script>
            <script src="__JS__/template-web.js"></script>
            <script src="__JS__/jquery.validate.min.js"></script>
            <script src="__JS__/layer/layer.js"></script>
            <script src="__JS__/listen.js"></script>
            {literal}
            <script type="text/html" id="tf">
                {{each list item index}}
                <li class="wow animated fadeInLeft" data-wow-delay="0.3s">
                    {{if item.is_new_power==1}}<div class="gtip">{{if item.sid==1}}共创人{{else}}新势力{{/if}}</div>
                    {{/if}}
                    <div class="circular">
                        <div class="cbg"></div>
                        <div class="img"><img src="{{item.avatar}}" /></div>
                    </div>
                    <div class="summ">
                        <p class="name">{{item.name}}</p>
                        <p class="job">{{item.intro}}</p>
                    </div>
                    <a href="javascript:;" class="mis-container"></a>
                    <div class="text-content">
                        {{@item.info|getInfo}}
                    </div>
                </li>
                {{/each}}
            </script>
            {/literal}
            <script>
                template.defaults.imports.getInfo = function (value) {
                    if (value.length > 1) {
                        var info = JSON.parse(value);
                        var html = "";
                        for (var i = 0; i < info.length; i++) {
                            html += '<div class="textList"><div class="l_topic">' + info[i].title +
                                '</div><div class="l_topic">场次：' + info[i].cc +
                                '</div><div class="l_time">时间：' + info[i].sj + '</div></div>';
                        }
                        return html;
                    } else {
                        return '';
                    }

                };

                //手机登陆
                $('.mobileLogin').click(function () {
                    var account =  $('#mobile').val();
                    var mobile_sms_code =  $('#mobile_sms_code').val();
                    var mobile_code =  $('#mobile_code').val();
                    if (account.length <=0 ) {
                        layer.msg('请填写手机号');
                        return false;
                    }
                    if (mobile_sms_code.length <=0 ) {
                        layer.msg('请填写短信验证码');
                        return false;
                    }
                    if (mobile_code.length <=0 ) {
                        layer.msg('请填写验证码');
                        return false;
                    }
                    $('#mobile_form').submit()
                });

                //密码登陆
                $('.pwdLogin').click(function () {
                    var account =  $('#pwd_account').val();
                    var pwd_password =  $('#pwd_password').val();
                    var pwd_code =  $('#pwd_code').val();
                    if (account.length <=0 ) {
                       layer.msg('请填写用户名');
                       return false;
                    }
                    if (pwd_password.length <=0 ) {
                        layer.msg('请填写密码');
                        return false;
                    }
                    if (pwd_code.length <=0 ) {
                        layer.msg('请填写验证码');
                        return false;
                    }
                    $('#pwd_form').submit()
                });


                $('.getMoreGuest').click(function () {
                    var elem = $(this),
                        sid = elem.attr('sid'),
                        cid = elem.attr('cid'),
                        page = elem.attr('page'),
                        total = elem.attr('total'),
                        box = elem.siblings("ul.guestBox");
                    if (page < total) {
                        $.post("{:url('index/index/getMoreGuest')}", {
                            sid: sid,
                            cid: cid,
                            page: Number(page) + 1
                        }, function (res) {
                            var list = {
                                    list: res.data
                                },
                                html = template('tf', list);
                            box.append(html);

                            elem.attr('page', res.current_page);

                        }, "json");
                    } else {
                        elem.text("暂无更多");
                    }
                });
            </script>
            <script>
                var bg_img = '{$model.bg_img}';
                $("#body").css("background-image", "url(" + bg_img + ")");

                if ($('body').width() > 1200) {
                    $('.video-tabs ul').mCustomScrollbar()
                };
                $('.video-tabs ul').eq(0).show();
                $('.video-tabs .date_header').click(function () {
                    if ($('body').width() > 1200) {
                        $(this)
                            .addClass('active')
                            .siblings('.date_header')
                            .removeClass('active');
                        $(this)
                            .next('ul')
                            .slideDown(300)
                            .siblings('ul')
                            .slideUp(300);
                    }
                });
                $('.video-tabs ul li').click(function () {
                    $(this)
                        .toggleClass('active')
                        .siblings()
                        .removeClass('active')
                    var iframeSrc = $('#iframes')
                    var $src = $(this).attr('data-src')
                    iframeSrc.attr('src', $src)
                });
                $('.video-tabs ul').eq(0).find('li').eq(0).trigger("click");
                $('.subBtn').click(function () {
                    $form = $(this).parents("form");
                    $form.submit();
                });
            </script>
            <script type="text/javascript">
                /**
                 * Created by GuoYue on 2016/5/21.
                 */
                $(function () {
                    //team

                    (function () {
                        var dialog = $(".teamDetaile");

                        if (!dialog.length) return;
                        var maxheight = $(document).height();
                        var dialogTitle = dialog.find(".tName");
                        var dialogLabel = dialog.find(".tInfo");
                        var dialogLabel2 = dialog.find(".tInfo2");
                        var dialogContent = dialog.find(".tContent");
                        var dialogTxt = dialog.find(".teamTxt");
                        var dialogimg = dialog.find(".timg");
                        var inner = dialog.find(".tContentInner");
                        var dialogClose = dialog.find(".CloseBtn");
                        var mask = $(".mask");
                        var target = null;
                        var content = null;

                        //dialogContent.mCustomScrollbar();
                        dialogTxt.mCustomScrollbar();

                        $(document).on("click", ".gList ul li", function () {
                            target = $(this);
                            content = target.find(".text-content").appendTo(inner);
                            //console.log(content);
                            var $img = target.find(".img img").attr('src');

                            dialogLabel.text(target.find(".name").text());
                            dialogLabel2.text(target.find(".job").text());
                            dialogimg.attr('src', $img);
                            TweenMax.to(mask, 0.2, {
                                "display": "block",
                                "opacity": 0.5,
                                "onComplete": function () {
                                    TweenMax.to(dialog, 0.5, {
                                        "top": '60%',
                                        "display": "block",
                                        "ease": Back.easeOut.config(2),
                                        "onComplete": function () {
                                            //dialogContent.mCustomScrollbar("update");
                                        }
                                    });
                                }
                            });
                        });
                        dialogClose.on("click", function () {
                            TweenMax.to(dialog, 0.5, {
                                "top": -430,
                                "display": "none",
                                "ease": Back.easeIn.config(2),
                                "onComplete": function () {
                                    TweenMax.to(mask, 0.2, {
                                        "display": "none",
                                        "opacity": 0
                                    });
                                    content.appendTo(target.find("a"));
                                    target = null;
                                    content = null;

                                }

                            });

                        });
                    })();
                });


                //点击项目申报弹窗
                $(".footfix .dec_btn").on("click", function () {

                    target = $(this);
                    TweenMax.to($(".mask"), 0.2, {
                        "display": "block",
                        "opacity": 1,
                        "onComplete": function () {
                            TweenMax.to($("#dec_box"), 0.5, {
                                "top": '60%',
                                "display": "block",
                                "ease": Back.easeOut.config(2),
                                "onComplete": function () {

                                }
                            });
                        }
                    });
                });

                $(".closed").click(function () {

                    TweenMax.to($("#dec_box"), 0.5, {
                        "top": -310,
                        "display": "none",
                        "ease": Back.easeIn.config(2),
                        "onComplete": function () {
                            TweenMax.to($(".mask"), 0.2, {
                                "display": "none",
                                "opacity": 0
                            });

                        }

                    });
                })
            </script>
            <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
            <script>
                //点击报名填写表单
                $(".footfix .baoming").on("click", function () {
                    var id = $(this).attr('data-id');
                    $.get('/index/index/getform?id=' + id, function (data) {
                        if (data.code == 1) {
                            var index = layer.open({
                                type: 1,
                                title: false,
                                fixed: false,
                                area: ["500px", "500px"],
                                skin: 'financing-layer',
                                content: data.data,
                                anim: 5
                            });
                        } else if (data.code == 2) {
                            layer.msg(data.msg);
                        } else if (data.code == 3) {
                            TweenMax.to($(".mask"), 0.2, {
                                "display": "block",
                                "opacity": 0.5,
                                "onComplete": function () {
                                    TweenMax.to($("#loginBox"), 0.5, {
                                        "top": '50%',
                                        "display": "block",
                                        "ease": Back.easeOut.config(2),
                                        "onComplete": function () {

                                        }
                                    });
                                }
                            });
                        }

                    });
                });

                function isWeiXin() {
                    var ua = window.navigator.userAgent.toLowerCase();
                    if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                        return true;
                    } else {
                        return false;
                    }
                }
                if (isWeiXin()) {
                    $.ajax({
                        type: 'GET',
                        url: '/index/digg/getWxShareSign?url=' + encodeURIComponent(location.href.split(
                            '#')[0]),
                        success: function (data) {
                            wx.config({
                                debug: false,
                                appId: data.appId,
                                timestamp: data.timestamp,
                                nonceStr: data.nonceStr,
                                signature: data.signature,
                                jsApiList: [
                                    'checkJsApi',
                                    'onMenuShareTimeline',
                                    'onMenuShareAppMessage',
                                    'onMenuShareQQ',
                                    'onMenuShareWeibo',
                                ]
                            });
                            wx.ready(function () {
                                var shareData = {
                                    title: "{$SysConfig.title|default=''}",
                                    desc: "{$SysConfig.description|default=''}",
                                    link: location.href.split('#')[0],
                                    imgUrl: window.location.origin +
                                        "{$SysConfig.wx_img|default=''}"
                                };
                                wx.onMenuShareAppMessage(shareData);
                                wx.onMenuShareTimeline(shareData);
                                wx.onMenuShareQQ(shareData);
                                wx.onMenuShareWeibo(shareData);
                            });
                        }
                    })
                }
                $(window).scroll(function () {
                    //为页面添加页面滚动监听事件
                    var wst = $(window).scrollTop(); //滚动条距离顶端值
                    for (i = 0; i < localLinks.length; i++) { //加循环
                        if ($("#" + localLinks[i]).offset().top <= wst) { //判断滚动条位置
                            $('.header .nav ul li a').removeClass("active"); //清除c类
                            $('.header .nav ul li a[href="#' + localLinks[i] + '"]').addClass(
                                "active"); //给当前导航加c类
                        }
                    }

                })


                var $root = $('html, body');
                $('.header .nav ul li a[href^="#"]').click(function () {
                    $('.header .nav ul li a').removeClass("active"); //清除c类
                    $(this).addClass("active"); //给当前导航加c类
                    $root.animate({
                        scrollTop: $($.attr(this, 'href')).offset().top
                    }, 800);

                    return false;
                });

                //倒计时
                function setTime(val,color,url) {
                    var element = $(val).closest('form').find("input[name='mobile']"),timer = {};

                    if (element.val() === "") {
                        layer.msg("手机号不能为空！",{icon:2,time:1200});
                        element.focus();
                        return false;
                    }
                    if (!element.val().match(/^1[3-9]\d{9}$/)) {
                        layer.msg("请输入正确的手机号",{icon:2,time:1200});
                        element.focus();
                        return false;
                    }
                    $btn = true;

                    if(val.getAttribute("class")=='y-verCode'){
                        $btn = false;
                    }
                    $btn && (val.style.backgroundColor=color);
                    val.setAttribute("disabled", true);
                    val.innerText="发送中...";
                    $.ajax({
                        url:url,
                        type: 'POST',
                        data: {mobile: element.val()},
                        success: function (res) {
                            if (res.code == 2) {
                                layer.msg(res.msg);
                                val.removeAttribute("disabled");
                                val.innerText="发送短信验证码";
                                $btn && (val.style.backgroundColor="#f75959");
                                return false;
                            }
                            clearInterval(timer['mobile']);
                            var seconds = 60;
                            timer['mobile'] = setInterval(function () {
                                seconds--;
                                if (seconds <= 0) {
                                    clearInterval(timer['mobile']);
                                    val.removeAttribute("disabled");
                                    val.innerText="发送短信验证码";
                                    $btn && (val.style.backgroundColor="#f75959");
                                } else {
                                    val.setAttribute("disabled", true);
                                    val.innerText=seconds + "s再次获取验证码";
                                    $btn && (val.style.backgroundColor=color);
                                }
                            }, 1000);
                        },
                        error: function() {
                            val.removeAttribute("disabled");
                            val.innerText="发送短信验证码";
                            $btn && (val.style.backgroundColor="#f75959");
                        }
                    })
                    return false;
                }
            </script>
</body>

</html>
